.my-btn {
  border: 4px !important;
  border-style: solid !important;
  border-color: #da0404 !important;
  font-family: "KalamehExtraBold" !important;
  font-size: 20px !important;
  font-weight: 700 !important;
}

.background-yes {
  background-color: #da0404 !important;
  color: #162041 !important;
}

.background-no {
  background-color: #162041 !important;
  color: #da0404 !important;
}

.background-green {
  background-color: green !important;
  border-color: green !important;
}

.btn-yes-100-width {
  width: 100%;
}

.btn-icon-true {
  margin-left: 20px;
}
