.footer-main-container {
  background-color: #162041;
  display: flex;
  flex-direction: column;
}

.nav-item {
  color: #e7e7e7;
}

.footer-col-3 {
  display: flex;
  flex-direction: column !important;
}

.follow-us-in-social {
  color: #e7e7e7;
}

.menu-items {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .footer-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    min-height: 60px;
  }
  .footer-col-3 {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    row-gap: 4px;
  }
  .menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
  }
}
