.navbar-brand {
  color: #e7e7e7 !important;
  font-family: KalamehBold;
}

.nav-link {
  color: #e7e7e7 !important;
}

.btn-outline-success {
  color: #e7e7e7 !important;
  border-color: #da0404 !important;
  --bs-btn-hover-bg: #da0404 !important;
  --bs-btn-hover-border-color: #da0404 !important;
}

.inputBox-textarea {
  width: 90%;
}
