.voyage-trip-main-container {
  display: flex;
  justify-content: center;
  margin: 1%;
}

.voyage-trip-pic {
  width: 400px;

  img {
    transition: transform 1s;
  }
  img:hover {
    transform: scale(1.3);
  }
}

@media screen and (max-width: 768px) {
  .voyage-trip-pic {
    width: 100%;
  }
}
