.home-news-slider-title {
  font-family: KalamehBold;
  font-size: 24px;
  margin: 8px;
  cursor: pointer;
  
}

.home-down-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
}
