.home-news-slider-title {
  font-family: KalamehBold;
  font-size: 24px;
  margin: 8px;
  cursor: pointer;
  
}


.home-down-side {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  margin: 2%;
}
