.leave-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid #3a365e;
  border-radius: 20px;
  margin: 20px;
  padding: 8px;
}

.leave-form {
  max-width: 100%;
  display: flex;
  flex-direction: column;

  input {
    margin: 2px 0;
    border-radius: 8px;
    text-align: center;
  }
}
