.news-archive-main-container {
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 1%;
  border: solid #162041;
  border-radius: 20px;
}

.news-archive-title {
  background-color: #162041;
  border-radius: 8px;
  color: #e7e7e7;
  padding: 4px;
  font-family: KalamehBold;
  margin-bottom: 8px;
}

.news-archive-news-list {
  display: flex;
  flex-direction: column;
  row-gap: 2%;
}
