.res-trip-main-container {
  margin: 2%;
  border: solid 4px #162041;
  border-radius: 8px;
}

.res-trip-title {
  background-color: #162041;
  color: #e7e7e7;
  padding: 8px;
  font-size: 24px;
  font-family: KalamehBold;
  margin-bottom: 8px;
}

.res-trip-form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 1%;
}

.res-trip-form-item {
  justify-content: center;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
}
