.one-msg-page-main-container {
  margin: 2%;
  border: solid 4px #162041;
  border-radius: 8px;
}

.one-msg-page-title {
  background-color: #162041;
  color: #e7e7e7;
  padding: 8px;
  font-size: 24px;
  font-family: KalamehBold;
  margin-bottom: 8px;
}

.one-msg-page-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  padding: 1%;

  hr {
    width: 90%;
  }
}
