.panel-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 4%;
}

.panel-dashboard-personal-info-items {
  text-align: right;
  font-family: KalamehThin;
}

.panel-dashboard-histories {
  display: flex;
  flex-direction: column;
  border: solid 4px #162041;
  border-radius: 20px;
  padding: 40px;
  margin-top: 4%;
}

.panel-dashboard-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}

.panel-dashboard-buttons-items {
  display: flex;
  justify-content: center;
}

.panel-dashboard-personal-info {
  border: solid 4px #162041;
  border-radius: 20px;
  padding: 40px;

  table {
    width: 800px;
  }

  img {
    width: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .panel-dashboard {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .panel-dashboard-personal-info {
    margin-top: 20px;

    table {
      width: 100%;
      align-items: start;
    }
  }
}

@media screen and (max-width: 767px) {
  .panel-dashboard {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .panel-dashboard-left-side {
    max-width: 300px;
  }

  .panel-dashboard-personal-info {
    margin-top: 20px;

    table {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }
}
