@font-face {
  font-family: KalamehRegular;
  src: url("./assets/Font/Kalameh-Regular/Kalameh-Regular.ttf") format("truetype");
}
@font-face {
  font-family: KalamehExtraBold;
  src: url("./assets/Font/Kalameh-ExtraBold/Kalameh-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: KalamehThin;
  src: url("./assets/Font/Kalameh-Thin/Kalameh-Thin.ttf") format("truetype");
}
@font-face {
  font-family: KalamehBold;
  src: url("./assets/Font/Kalameh-Bold/Kalameh-Bold.ttf") format("truetype");
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: KalamehRegular;
  background-color: #e7e7e7;
}

.app-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  min-height: 120vh;
}

@media screen and (max-width: 768px) {
  #root {
    max-width: 100%;
  }
  .app-container {
    max-width: 100%;
    min-height: 60vh;
  }
  
}